<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.Alquran.quran"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_al_quran"
        android:label="@string/app_name"
        android:theme="@style/Theme.Sherlock" >
        <activity
            android:name="com.Alquran.quran.Main"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleAlQuran" />
        <activity
            android:name="com.Alquran.quran.PopupMenu"
            android:screenOrientation="portrait"
            android:theme="@style/PlayerTheme" />
        <activity
            android:name="com.Alquran.quran.PlayList"
            android:screenOrientation="portrait"
            android:theme="@style/PlayerTheme" />
        <activity
            android:name="com.Alquran.quran.Settings"
            android:enabled="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.Alquran.quran.Manage"
            android:enabled="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.Alquran.quran.Search"
            android:enabled="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.Alquran.quran.Bookmark"
            android:enabled="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <activity
            android:name="com.Alquran.quran.WebviewActivity"
            android:enabled="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.Alquran.quran.SplashScreen"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleAlQuran" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.Alquran.quran.SurahTabs"
            android:screenOrientation="portrait"
            android:theme="@style/SherlokTabTheme" >
        </activity>
    </application>

</manifest>